html {
    height: auto;
    background-color: #e6eeff;
}

body {
    position: relative;
    height: auto;
    
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 18px;

    width: 800px;
    margin: 0 auto;
    color: #333;
}

input {
    height: 20px;
}

.header {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.controls {
    float: right;
    font-size: 13px;
    color: gray;
}

.controls + .controls {
    margin-right: 20px;
}

.gray-link {
    color: gray;
    text-decoration: none;
}

.gray-link:visited {
    color: gray;
}

.gray-link:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
}

.story-table {
    border-collapse: collapse;
    width: 100%;
}

.story-table td {
    padding: 15px 0;
    font-size: 14px;
}

.story-table .date-cell {
    width: 200px;
}

.story-table .subject-cell {
    font-weight: bold;
    width: 400px;
}

.story-table .link-cell {
    width: 100px;
    text-align: right;
    font-size
}

.story-row {
    border-bottom: 1px solid #333;
}

.story-row:last-child {
    border-bottom-style: none;
}

#create-story {
    text-decoration: none;
}

.btn {
  height: 100%;
  background: #1e96e6;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.limit {
    color: gray;
    padding-bottom: 20px;
    font-size: 14px;
}