<!DOCTYPE html>

<html>

<head>
    <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <script type="text/javascript" src="/static/script.js"></script>
    <title>That's Not My...</title>
</head>

<body>
    <div class="header">
        <div class="controls">
            {% if user %}
                <a class="gray-link" href="/stories">{{user.name}}</a>
                (<a class="gray-link" href="/logout">logout</a>)
            {% else %}
                <a class="gray-link" href="/login">login</a>
                |
                <a class="gray-link" href="/signup">signup</a>
            {% endif %}
        </div>        
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>