{% extends "base.html" %}

{% block controls %}
    {% if user %}
        <a class="gray-link" href="/stories">stories</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>That's Not My... Story Generator</h2>
    <p>Write a children's book similar to the Usborne 
    <a href="http://www.usborne.com/catalogue/subject/1~b~bbtnm/that-s-not-my.aspx">
    That's Not My</a> series.</p>
    
    <form class="" method="post">
        <table>
            <tr>
                <td>What's your story about? (limit 20 characters)</td>
                <td><input type="text" 
                           name="subject" 
                           pattern="[a-zA-Z0-9]{0,20}" 
                           maxlength="20" 
                           required 
                           title="No symbols or spaces allowed"></td>
            </tr>
            <tr>
                <td>How many lines long is it? (1-100)</td>
                <td><input type="number" name="lines"
                           min="1" max="100" required></td>
            </tr>
        </table>
        <input type="submit">
    </form>
    
{% endblock %}
