{% extends "base.html" %}

{% block controls %}
    <a class="gray-link" href="/">home</a>
{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
  <table>
    <tr>
      <td>
        Username
      </td>
      <td>
        <input type="text" name="username" value="">
      </td>
    </tr>

    <tr>
      <td>
        Password
      </td>
      <td>
        <input type="password" name="password" value="">
      </td>
    </tr>
  </table>
  
  <div class="error">
      {{error}}
  </div>

  <input type="hidden" name="next_url" value="{{next_url}}">
  <input class="btn" type="submit">
</form>
{% endblock %}