{% extends "base.html" %}

{% block controls %}
    <a class="gray-link" href="/">home</a>
{% endblock %}

{% block content %}
<h2>Your Stories</h2>
<table class="story-table">
    {% if not stories %}
        <p>You have no stories yet. Why not try <a href="/">creating a story</a>?</p>
    {% endif %}

    {% for s in stories %}
        <tr class="story-row">
            <td class="date-cell">
                {{s.date_created()}}
            </td>
            
            <td class ="subject-cell">
                That's Not My {{s.subject | title}}
            </td>
            
            <td>
                {{s.lines}} lines
            </td>
            
            <td>
                <a class="gray-link"
                   href="/thats-not-my-{{s.subject}}?id={{s.key().id()}}">
                   view</a>
            </td>
            
        </tr>
    {% endfor %}
</table>
{% endblock %}