{% extends "base.html" %}

{% block content %}
<h2>Your Stories</h2>
<table class="story-table">
    {% for s in stories %}
        <tr class="story-row">
            <td class="date-cell">
                {{s.created.strftime("%c")}}
            </td>
            
            <td class ="subject-cell">
                That's Not My {{s.subject | title}}
            </td>
            
            <td>
                {{s.lines}} lines
            </td>
            
            <td>
                <a class="gray-link"
                   href="/thats-not-my-{{s.subject}}?id={{s.key().id()}}">
                   view</a>
            </td>
            
        </tr>
    {% endfor %}
</table>
{% endblock %}