{% extends "base.html" %}

{% block controls %}
    <a class="gray-link" href="/">home</a>
    {% if user %}
    |
    <a class="gray-link" href="/stories">stories</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="print-content">
      <form>
        <h2>That's Not My {{story.subject | title}}</h2>
        {% for line in story.content %}
            <p>{{line}}</p>
        {% endfor %}
      </form>
    </div>

    <input class="btn" type="button" onClick="printDiv('print-content')" value="Print"/>
    
    <a id="create-story" href="/">
        <input class="btn" type="button" value="Create Another Story">
    </a>
{% endblock %}